.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}

.buy-now-button{
    background-image: linear-gradient( to bottom, #FF589B 0%, #FF136F 100%);
    color: #FFF;
    border: none;
    border-radius: 8px;
    padding: 9px, 25px;
    cursor: pointer; 
    font-size: 20px;
}

.price-color{
    
    color: #FF136F;
}


.cat1{
    background-color: liner-gradient orange;
    padding: 10px 30px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, orange 0%, lightgray 100%);

}
.cat2{
    background-color: orchid;
    padding: 10px 30px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, orchid 0%, lightgray 100%);
}
.cat3{
    background-color: blue;
    padding: 10px 30px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, blue 0%, lightgray 100%);
}
.categories h1{
    color: white;
}
.categories img{
    width: 120px;
}
.card{
    border: none;
    box-shadow: 20px 20px 10px lightgray;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, orange 0%, lightgray 100%);
}
.card-footer{
    margin-top: 20px;
}
#contact-us{
    height: 300px;
}
#contact-us p{
    color: gray;

}
footer{
    text-align: center;
    font-size: small;
}
.enter-email{
    margin-bottom:10px ;
}